.container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#gameboard{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 100px;

}

.game{
    padding: 25px;
}